
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background-image: url('https://i.ibb.co/3rCh5Wp/bit2.png');
    background-repeat: no-repeat;
     background-size: cover;

}